*{
    margin: 0;
    padding: 0;
}
.parent .main{
    height: 90px;
    width: 98.8vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.parent .main img{
    height: 45px;
    width: auto;
}

.parent .main .buttons{
    display: flex;
    gap: 10px;
}
.parent .main .buttons button{
    padding: 6px 28px;
    background-color: black;
    color: white;
    font-weight: 450;
    border-radius: 8px;
    border: none;
}